<h1>Les équipes</h1>
<div class="row">
  <div class="col-md-7" role="main">
    <input type="text" class="form-control" name="search" id="search" placeholder="Rechercher" ng-model="vm.search">
    <br />
    <ul class="list-group" ng-repeat="team in vm.teamData">
      <li class="list-group-item">
        <h4 class="list-group-item-heading">{{team.name}} - <a href ng-click="vm.wantEditTeam(team)">Editer l'équipe</a></h4>
        <p class="list-group-item-text">
          <ul>
            <li ng-repeat="collab in team.collaborators">{{collab.lastName}} {{collab.firstName}} - <a href ng-click="vm.removeCollaborator(team, collab)">Retirer</a></li>
            <li><a href ng-click="vm.addCollaboratorOpen(team)">Ajouter un collaborateur</a></li>
          </ul>
        </p>
      </li>
    </ul>
    <ul class="pagination">
      <li ng-show="vm.havePreviousPage()"><a ng-click="vm.previousPage()" href><<</a></li>
      <li ng-show="vm.haveNextPage()"><a ng-click="vm.nextPage()" href>>></a></li>
    </ul>
  </div>
  <div class="col-md-5" >
    <form name="form" novalidate>
      <div class="form-group">
        <label for="name">Nom de l'équipe</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Nom de l'équipe" ng-model="vm.newTeam.name" required>
        <div ng-show="form.$submitted || form.firstName.$touched">
          <div ng-show="form.firstName.$error.required">Nom de l'équipe obligatoire.</div>
        </div>
      </div>

      <button type="submit" class="btn btn-default" ng-click="vm.resetForm(vm.newTeam)">Reset</button>
      <button ng-hide="vm.newProject.id" type="submit" class="btn btn-default" ng-click="vm.createTeam(vm.newTeam)">Créer l'équipe</button>
      <button ng-show="vm.newProject.id" type="submit" class="btn btn-default" ng-click="vm.editTeam(vm.newTeam)">Editer l'équipe</button>
    </form>

  </div>
</div>
